// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #f3b406 !default;
$header-bg-color-secondary: rgb(250, 248, 143) !default;

// Text
$section-headings-color: #000000 !default;
$body-text-color: #000000 !default;
$body-link-color: rgb(247, 223, 14) !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #494D4E !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
